<button type="button" class="btn btn-success" (click)="openModal(template)">Cadastrar</button>

<ng-template #template class="modal-lg">
  <div class="modal-header">
     <h1 class="modal-title pull-left">Cadastrar curso</h1>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body">
  <div class="alert alert-info" role="alert" *ngIf="message?.status==404">
      {{message.error}}
   </div>
    <div class="alert alert-danger" role="alert" *ngIf="message?.status===0">
      Consulta indisponível tente novamente mais tarde.
    </div>
  
   <!--  FORM  -->
   <div class="container p-5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">      
      <div class="form-row">
        <div class="form-group col-md-12 mb-0 pb-0" >
        </div>
        <div class="form-group col-md-8">
          <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" maxlength="254" required/>
            <mat-error *ngIf="form.get('nome')?.hasError">Insira um nome válido</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field appearance="fill">
            <mat-label>Total horas da grade</mat-label>
            <input matInput type="number" formControlName="totalGrade" value="0" required />
            <mat-error *ngIf="form.get('totalHoras')?.hasError">Insira um número total de horas válido</mat-error>
            <mat-hint align="end">Este valor é calculado conforme o total de horas das disciplinas do curso.</mat-hint>
          </mat-form-field>
        </div>
        </div>
    </form>
    </div>
  <!-- END FORM  -->

    
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-danger" (click)="modalRef?.hide()">Fechar</button>
     <button type="submit" class="btn btn-primary" (click)="onSubmit()"> Salvar</button>
  </div>
</ng-template>