<div class="alert alert-info" role="alert" *ngIf="turma==undefined && message?.status==404">
  {{message.error}}
</div>
<div class="alert alert-danger" role="alert" *ngIf="turma==undefined && message?.status===0">
  Consulta indisponível tente novamente mais tarde.
</div>

<div class="container border p-5 rounded"  *ngIf="!(turma==undefined)">
<form [formGroup]="editarForm" (ngSubmit)="onSubmit()" >
  <h1 class="display-1">Detalhes da Turma</h1>
  
  <div class="form-row">
    <div class="form-group col-md-12 mb-0 pb-0" >
    </div>
    <div class="form-group col-md-12">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" maxlength="254" required/>
        <mat-error *ngIf="editarForm.get('nome')?.hasError">Insira um nome válido</mat-error>
      </mat-form-field>
    </div>
    </div>
    
    <div class="form-row">
      <!-- DISCIPLINAS -->
      <div class="form-group col-md-6">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStateDisciplina = true" (closed)="panelOpenStateDisciplina = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Disciplinas
            </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Total Horas</th>
                </tr>
              </thead>
              <tbody>
                <tr mat-list-item  routerLink="/disciplina/{{disciplina.id}}" *ngFor="let disciplina of turma.disciplinas">
                  <td>{{ disciplina.nome }}</td>
                  <td> {{disciplina.totalHoras}}</td>
                </tr>
              </tbody>
            
            </table>
          </mat-expansion-panel>
      </mat-accordion>
      </div>
      <!-- DISCIPLINAS END -->
      
      <!-- ALUNOS -->
      <div class="form-group col-md-6">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenStateAluno = true" (closed)="panelOpenStateAluno = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Alunos
              </mat-panel-title>
              </mat-expansion-panel-header>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th> Matricula</th>
                  </tr>
                </thead>
                <tbody>
                  <tr mat-list-item  routerLink="/aluno/{{aluno.id}}" *ngFor="let aluno of turma.alunos">
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.matricula }}</td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>
        </mat-accordion>
        </div>
      <!-- ALUNOS END -->
    </div>
    
  <div class="form-row">
    <a class="btn btn-danger mr-2" (click)="this.deleteTurma()">Remover</a>
    <button *ngIf="editarForm.enabled" type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-success mr-2" *ngIf="editarForm.disabled" (click)="this.habilitarForm()">Editar</a>
  </div>
</form>
</div>