<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Disciplina</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <nav class="navbar-container">
        <ul class="list-style">
            <li class="list-style2">
                <a class="link-style" target="_blank" href="/aluno">ALUNO</a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/curso">CURSO
                </a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/disciplina">DISCIPLINA
                </a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/turma">TURMA
                </a>
            </li>
        </ul>
    </nav>
    <form id="my-form2" th:action="@{disciplina}" th:object="${disciplinaDTO}" method="post">

        <label> Nome
            <input id="field-text" th:field="*{nome}" class="disciplinaDTO" type="text">
        </label>
        <label> Codigo
            <input id="field-text" th:field="*{codigo}" class="disciplinaDTO" type="text">
        </label>
        <label>Conteudo
            <input id="field-text3" th:field="*{conteudoProgramatico}" class="disciplina" type="text">
        </label>
        <label> Creditos
            <input id="field-text4" th:field="*{numeroCreditos}" class="disciplina" type="text">
        </label>
        <label> Turma
            <input id="field-text5" th:field="*{turma}" class="disciplina" type="text">
        </label>
        <label> Curso
            <input id="field-text6" th:field="*{curso}" class="disciplina" type="text">
        </label>
        <label> Horas
        <input id="field-text7" th:field="*{totalHoras}" class="disciplina" type="text">
        </label>

        <button type="submit">Cadastrar</button>
    </form>
</head>
<body>

</body>
</html>