<div class="alert alert-danger" role="alert" *ngIf="dataSource==undefined && message?.status==0">
  Consulta indisponível, tente novamente mais tarde.
</div>
<form-modal (callParent)="onCallParent()"></form-modal>
<table mat-table [dataSource]="dataSource" class="mat-elevation" *ngIf="!(dataSource==undefined)">

  <!-- Nome Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Total de horas Column -->
  <ng-container matColumnDef="totalGrade">
    <th mat-header-cell *matHeaderCellDef> Total de horas da grade </th>
    <td mat-cell *matCellDef="let element"> {{element.totalGrade || 0}} </td>
  </ng-container>
    <!-- Acao Column -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element"> <a class="btn btn-info" routerLink="{{element.id}}" routerLinkActive="router-link-active">Detalhes</a></td>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

